:root {
    /* BG */
    --color-bg-page: #1f1f1f;
    --color-bg-card: #f4f4f4;
    --color-bg-card-secondary: #e6e6e6;
    /* Text */
    --color-text-primary: #2b2b2b;
    --color-text-secondary: #6b7280;
    --color-text-muted: #9ca3af;
    /* Accent */
    --color-accent: #82ad51;

    /* Borders / UI */
    --color-border: #d1d5db;

    /*Cursor Position*/
    --tooltip-x: 0;
    --tooltip-y: 0;

}
html {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg-page);
    color: var(--color-text-primary);
}
.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px; /* обязательно! */
    width: 100%; /* займёт всю доступную ширину минус padding */

}


.tooltip::after {
    content: attr(data-tooltip);
    position: fixed;
    top: var(--tooltip-y, 0);
    left: var(--tooltip-x, 0);
    transform: translate(-50%, 0) translateY(15px);

    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    z-index: 1000;
}

.tooltip:hover::after {
    opacity: 1;
}